/* Fichier CSS additionnel */

/**************Footer***************/



.footer-bg{
    background-color: rgb(18,21,38);
}
.logoFooter{
    width: calc(150px + 5vw);
}
.nav-link > img{
   width: calc(30px + 1vw);
}
/************** Fin Footer***************/
