
/* Fichier CSS additionnel */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* ------- GENERAL ------- */
*{
    font-family: 'Poppins', sans-serif;
}
.btn{
    background-color:#F23F3F;
    border-radius: 100px;
}

.link{
    color:#F23F3F;
}

/* ------- HOMEPAGE HEADER ------- */
#homepage header{
    min-height: 155px;
}

#homepage header .header-bg{
    position: absolute;
    max-height:564px;
}

#homepage header .logo{
    max-width:37px;
}

#homepage header h1.title{
    margin-top:-70px;
    position: relative;
}

/* ------- HOMEPAGE HEADER MENU OVERLAY ------- */
#homepage header .logo-expand{
    position: absolute;
    top:-2px;
    left:10%;
    z-index:2;
    opacity:0.5;
}

#homepage .navbar-nav.homepage{
    background-color:#121526;
    z-index: 1;
    left: 0;
}

#homepage .navbar-toggler.expanded{
    position: absolute;
    z-index: 2;
    top: 15px;
    right:0;
}

/* ------- START HEADER ------- */

/* ------- HEADER ------- */

.logo {
    /*Logo responsive*/
    width:calc(20px + 5vw);
}

.header-bg{
    position: absolute;
    /*Background responsive*/
    max-height:calc(15vh + 10vw);
}

/**** Bug d'accès menu connecté sur mobile *****/
/* .header_title h1{
    transform: translateX(10%);
}
.header_title p{
    transform: translateX(-10%);
} */

.nav-link {
    color: rgba(255, 255, 255, 0.50);
    font-size: calc(1rem + 0.5vw);
}
.nav-link:hover {
    color: #D9383D;
}


/* ------- HEADER MENU OVERLAY ------- */
header .logo-expand{
    position: absolute;
    top:-2px;
    left:10%;
    z-index:2;
    opacity:0.5;
}

.navbar-nav{
    background-color:#121526;
    z-index: 1;
    left: 0;
}

.navbar-toggler.expanded {
    position: absolute;
    z-index: 2;
    top: 15px;
    right:0;
}

/* ------- HOMEPAGE MAIN ------- */
#homepage main{
    max-width: 1200px;
}
#homepage .btn.inscription{
    max-width:200px;
}



/* ------- MEDIA QUERIES ------- */
@media screen and (min-width:319px) {
    .header_title > h1 {
        font-size: calc(1rem + 1.25vw);
        } 
    .header_title > p {
        font-style: italic;
        } 
}

@media screen and (min-width:768px){
    #homepage header h1.title{
        margin-top:inherit;
        text-align: left !important;
        max-width:1200px;
        font-size:45px !important;
        width:60% !important;
    }

    #homepage .navbar-nav.homepage{
        background-color:transparent;
        position:relative;
    }
    #homepage .navbar-nav.homepage li a{
        font-size:14px;
    }

}

/* Breakpoint BS -> LG */
@media screen and (min-width:992px){
    .navbar-nav{
        background-color:transparent;
        position:relative;
    }
}

/**************Footer***************/
.footer-bg{
    background-color: rgb(18,21,38);
}
.logoFooter{
    width: calc(150px + 4vw);
}
.nav-link > img{
    width: calc(30px + 1vw);
}
/************** Fin Footer***************/

/* Breakpoint BS -> XL */
@media screen and (min-width:1200px){
    .header_title > h1 {
        font-size: calc(1rem + 2vw);
    } 
    .header_title > p {
        font-style: normal;
        } 

    .header_title > h1 {
        transform: translateX(0%);
    }
    .header_title > p {
        transform: translateX(0%);
    }

    #homepage main{
        margin-top:100px !important;
    }
}

@media screen and (min-width:1440px){
    #homepage header .header-bg{
        margin-top:-200px;
    }
    #homepage header h1.title{
        margin-top:50px;
    }
}

@media screen and (min-width:2500px){
    #homepage main{
        margin-top:300px !important;
    }
}

/* STYLE BANKER CONNEXION PAGE */
#banque-connexion h1 {
text-align: center;
}

#banque-connexion input, #banque-connexion span.input-group-text{
  border-color:#FFDCDC;
}
     
#banque-connexion .btn{
   background-color:#F23F3F;
  color:white;
}

/************** Start of deleteAccount.php styles ***************/

.delete-bg {
    background-image: url(/assets/img/bg-deleteAccount.svg);
    background-size: contain;
    background-position: left,center;
    background-repeat: no-repeat;
    overflow: visible;
}

/************** End of deleteAccount.php styles ***************/

.clientpath{
    background-image: url('/assets/img/backgroundHeader.svg');
    background-repeat: repeat;
    background-size: contain;
    background-position: top;
}

.notclient{
    background-image: url('/assets/img/backgroundHome.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}



/************** BanKer ***************/

.item {
    border: 1px solid #FFDCDC;
    padding: 0.5rem;
}

.hr_demands {
    color:#FFDCDC;
}

button#category {
    font-weight: 300;
}

@media screen and (max-width:768px){
.bankerpath{
    background-image: url('/assets/img/bggg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: calc(20vh + 5vw);
    }

main {
    position: relative;
    top: -2rem;
    }

main h2 {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 500;
    }

main h3 {
    font-size: calc(1rem + 0.3vw);
    font-weight: normal;
    }

main p {
    font-size: calc(1rem + 0.3vw);
    font-weight: 300;
    }
}


@media screen and (min-width:768px){
    .bankerpath{
        background-image: url('/assets/img/bggg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: calc(20vh + 15vw);
    }
}

/************** End of banKer ***************/