/* STYLE BANKER CONNEXION PAGE */
#banque-connexion h1 {
text-align: center;
}

#banque-connexion input, #banque-connexion span.input-group-text{
  border-color:#FFDCDC;
}

<<<<<<< HEAD

     
=======
#banque-connexion .btn{
  background-color:#F23F3F;
  color:white;
}
>>>>>>> c66c2028ae2ae03df71de5c3b8c202a55e1b38a0
